{% extends '::base.html.twig' %}

{% block title %}Tracks - {{ parent() }}{% endblock %}

{% block body_title %}
    Tracks
{% endblock %}

{% block body %}
    <ul>
        {% for track in tracks %}
            <li><a href="{{ path('tracks_show', {id : track.id}) }}">{{ track.title }}</a></li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_USER') %}
        <p>
            <a href="{{ path('tracks_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a track
            </a>
        </p>
    {% endif %}
{% endblock %}
