{% extends '::base.html.twig' %}

{% block title %}Tracks - {{ parent() }}{% endblock %}

{% block body_title %}
    Tracks
{% endblock %}

{% block body %}
    <ul>
        {% for track in tracks %}
            <li><a href="{{ path('tracks_show', {id : track.id}) }}">{{ track.title }}</a></li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_USER') %}
        <p>
            {{ button.link_button('add', 'Add a track', 'tracks_new') }}
        </p>
    {% endif %}
{% endblock %}
