{% extends '::base.html.twig' %}

{% block title %}Artists - {{ parent() }}{% endblock %}

{% block body_title %}
    Update "{{ artist.name }}"
{% endblock %}

{% block body %}
    <form method="post">

        {{ form_widget(form) }}

        <input type="submit" value="Update"/>
    </form>
{% endblock %}