{% extends '::base.html.twig' %}

{% block title %}Playlists - {{ parent() }}{% endblock %}

{% block body_title %}
    Playlists
{% endblock %}

{% block body %}
    <ul>
        {% for playlist in playlists %}
            <li><a href="{{ path('playlists_show', {id : playlist.id}) }}">{{ playlist.title }}</a></li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('playlists_new') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add a playlist
        </a>
    </p>
{% endblock %}