{% extends '::base.html.twig' %}

{% block body_title %}
    Welcome in Spotizer !
{% endblock %}

{% block body %}

    {% if app.user %}
        Vous êtes connecté en tant que <strong>{{ app.user.username }}</strong>.
        <a class="btn btn-primary" href="{{ path('logout') }}">Se déconnecter</a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('login') }}">Se connecter</a>
    {% endif %}

{% endblock %}